In [147]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import json

# Datos - Códigos Departamentos

In [148]:
df_departamentos_codigos = pd.read_csv('../../Data/Departamentos_Codigos.csv')

In [149]:
df_departamentos_codigos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Codigo                               33 non-null     int64
 1   Departamento_DANE                    33 non-null     object
 2   Departamento_DIVIPOLA                33 non-null     object
 3   Departamento_REPS                    33 non-null     object
 4   Departamento_IPS_Complejidad         33 non-null     object
 5   Departamento_IPS_Atencion_Capacidad  33 non-null     object
 6   Departamento_Capacidad_Instalada     33 non-null     object
 7   Departamento_Radiografia             33 non-null     object
 8   Departamento_Caracterizacion         33 non-null     object
 9   Departamento                         33 non-null     object
dtypes: int64(1), object(9)
memory usage: 2.7+ KB

In [150]:
df_departamentos_codigos.head()

,Codigo,Departamento_DANE,Departamento_DIVIPOLA,Departamento_REPS,Departamento_IPS_Complejidad,Departamento_IPS_Atencion_Capacidad,Departamento_Capacidad_Instalada,Departamento_Radiografia,Departamento_Caracterizacion,Departamento
0,5,Antioquia,ANTIOQUIA,Antioquia,Antioquia,Antioquia,Antioquia,Antioquia,Antioquia,Antioquia
1,8,Atlántico,ATLÁNTICO,AtlÃ¡ntico,AtlÃ¡ntico,AtlÃ¡ntico,AtlÃ¡ntico,Atlántico,Atlántico,Atlántico
2,11,"Bogotá, D.C.","BOGOTÁ, D.C.",BogotÃ¡ D.C,BogotÃ¡ D.C,BogotÃ¡ D.C,"BogotÃ¡, D.C.",Bogotá D.C,Bogotá D.C,Bogotá D.C
3,13,Bolívar,BOLÍVAR,BolÃ­var,BolÃ­var,BolÃ­var,BolÃ­var,Bolívar,Bolívar,Bolívar
4,15,Boyacá,BOYACÁ,BoyacÃ¡,BoyacÃ¡,BoyacÃ¡,BoyacÃ¡,Boyacá,Boyacá,Boyacá

# Datos - Códigos Municipios

In [151]:
df_municipios_codigos = pd.read_csv('../../Data/Departamentos_Municipios_Codigos.csv')

In [152]:
df_municipios_codigos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121 entries, 0 to 1120
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Codigo_Departamento               1121 non-null   int64
 1   Departamento                      1121 non-null   object
 2   Codigo_Municipio                  1121 non-null   int64
 3   Municipio                         1121 non-null   object
 4   Municipio_DIVIPOLA                1121 non-null   object
 5   Municipio_Poblacion               1121 non-null   object
 6   Municipio_REPS                    1121 non-null   object
 7   Municipio_IPS_Complejidad         1121 non-null   object
 8   Municipio_IPS_Atencion_Capacidad  1121 non-null   object
dtypes: int64(2), object(7)
memory usage: 78.9+ KB

In [153]:
df_municipios_codigos.head()

,Codigo_Departamento,Departamento,Codigo_Municipio,Municipio,Municipio_DIVIPOLA,Municipio_Poblacion,Municipio_REPS,Municipio_IPS_Complejidad,Municipio_IPS_Atencion_Capacidad
0,5,ANTIOQUIA,5001,Medellín,MEDELLÍN,Medellín,MEDELLÃN,MEDELLÃN,MEDELLÃN
1,5,ANTIOQUIA,5002,Abejorral,ABEJORRAL,Abejorral,ABEJORRAL,ABEJORRAL,ABEJORRAL
2,5,ANTIOQUIA,5004,Abriaquí,ABRIAQUÍ,Abriaquí,ABRIAQUÃ,ABRIAQUÃ,ABRIAQUÃ
3,5,ANTIOQUIA,5021,Alejandría,ALEJANDRÍA,Alejandría,ALEJANDRÃA,ALEJANDRÃA,ALEJANDRÃA
4,5,ANTIOQUIA,5030,Amagá,AMAGÁ,Amagá,AMAGÃ,AMAGÃ,AMAGÃ

# Datos - REPS

In [154]:
df_reps = pd.read_csv('../../Data/REPS.csv')

C:\Users\SGM\AppData\Local\Temp\ipykernel_19840\3122532733.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_reps = pd.read_csv('../../Data/REPS.csv')

In [155]:
df_reps['codigo_prestador'] = df_reps['CodigoPrestador']
df_reps['codigo_habilitacion_sede'] = df_reps['CodigoHabilitacionSede']
df_reps.iloc[56503]['CodigoPrestador'], df_reps.iloc[56503]['CodigoHabilitacionSede'], df_reps.iloc[74472]['CodigoPrestador'], df_reps.iloc[74472]['CodigoHabilitacionSede']

df_reps.at[56503, 'codigo_prestador'] = df_reps.iloc[56503]['CodigoPrestador'].replace(" ", "")
df_reps.at[56503, 'codigo_habilitacion_sede'] = df_reps.iloc[56503]['CodigoHabilitacionSede'].replace(" ", "")
df_reps.at[74472, 'codigo_prestador'] = df_reps.iloc[74472]['CodigoPrestador'].replace(" ", "")
df_reps.at[74472, 'codigo_habilitacion_sede'] = df_reps.iloc[74472]['CodigoHabilitacionSede'].replace(" ", "")

df_reps['codigo_prestador'] = df_reps['codigo_prestador'].astype(np.int64)
df_reps['codigo_habilitacion_sede'] = df_reps['codigo_habilitacion_sede'].astype(np.int64)

In [156]:
departamentos = [
    'Amazonas', 'Antioquia', 'Arauca', 'Atlántico',
    'Bogotá D.C', 'Bolívar', 'Boyacá', 'Caldas',
    'Caquetá', 'Casanare', 'Cauca', 'Cesar', 
    'Chocó', 'Córdoba', 'Cundinamarca', 'Guainía', 
    'Guaviare', 'Huila', 'La Guajira', 'Magdalena',
    'Meta', 'Nariño', 'Norte de Santander', 'Putumayo',
    'Quindío', 'Risaralda', 'San Andrés y Providencia', 'Santander',
    'Sucre', 'Tolima', 'Valle del cauca', 'Vaupés', 
    'Vichada'
    ]

distritos_especiales = [
    'Barranquilla',
    'Buenaventura',
    'Cartagena',
    'Santa Marta'
]

distritos_especiales_departamentos = {
    'Barranquilla': 'Atlántico',
    'Buenaventura': 'Valle del cauca',
    'Cartagena': 'Bolívar',
    'Santa Marta': 'Magdalena',
    'Cali': 'Valle del cauca'
}

In [157]:
df_reps['Departamento'] = df_reps['DepartamentoSedeDesc'].replace(distritos_especiales_departamentos)
df_reps = df_reps[df_reps['ClasePrestadorDesc'] == 'Instituciones Prestadoras de Servicios de Salud - IPS']

In [158]:
columnas = [
    'DepartamentoSedeDesc',
    'MunicipioPrestadorDesc',
    'MunicipioSede',
    'MunicipioSedeDesc',
    'codigo_prestador',
    'codigo_habilitacion_sede',
    'NaturalezaJuridica',
    # 'ClasePrestadorDesc'
]

In [159]:
df_reps = df_reps[columnas]

In [160]:
df_reps.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19726 entries, 0 to 76393
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DepartamentoSedeDesc      19726 non-null  object
 1   MunicipioPrestadorDesc    19726 non-null  object
 2   MunicipioSede             19726 non-null  int64
 3   MunicipioSedeDesc         19726 non-null  object
 4   codigo_prestador          19726 non-null  int64
 5   codigo_habilitacion_sede  19726 non-null  int64
 6   NaturalezaJuridica        19726 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.2+ MB

In [161]:
df_reps.head()

,DepartamentoSedeDesc,MunicipioPrestadorDesc,MunicipioSede,MunicipioSedeDesc,codigo_prestador,codigo_habilitacion_sede,NaturalezaJuridica
0,Amazonas,LETICIA,91263,EL ENCANTO,9100100019,912630001911,Pública
1,Amazonas,LETICIA,91405,LA CHORRERA,9100100019,914050001914,Pública
2,Amazonas,LETICIA,91407,LA PEDRERA,9100100019,914070001915,Pública
3,Amazonas,LETICIA,91430,LA VICTORIA,9100100019,914300001916,Pública
5,Amazonas,LETICIA,91001,LETICIA,9100100019,910010001901,Pública

# Datos - IPS Complejidad

In [162]:
df_ips = pd.read_csv("../../Data/IPS_Complejidad.csv")

In [163]:
departamentos = [
    'Amazonas', 'Antioquia', 'Arauca', 'Atlántico',
    'Bogotá D.C', 'Bolívar', 'Boyacá', 'Caldas',
    'Caquetá', 'Casanare', 'Cauca', 'Cesar', 
    'Chocó', 'Córdoba', 'Cundinamarca', 'Guainía', 
    'Guaviare', 'Huila', 'La Guajira', 'Magdalena',
    'Meta', 'Nariño', 'Norte de Santander', 'Putumayo',
    'Quindío', 'Risaralda', 'San Andrés y Providencia', 'Santander',
    'Sucre', 'Tolima', 'Valle del cauca', 'Vaupés', 
    'Vichada'
    ]

distritos_especiales = [
    'Barranquilla',
    'Buenaventura',
    'Cartagena',
    'Santa Marta'
]

distritos_especiales_departamentos = {
    'Barranquilla': 'Atlántico',
    'Buenaventura': 'Valle del cauca',
    'Cartagena': 'Bolívar',
    'Santa Marta': 'Magdalena'
}

In [164]:
columnas = [
    'depa_nombre',
    'muni_nombre',
    'codigo_habilitacion',
    # 'razon_social',
    'nivel',
    # 'habilitado',
    # 'naju_codigo',
    'naju_nombre',
    'clase_persona'
]

In [165]:
df_ips = df_ips[columnas]
df_ips['Departamento'] = df_ips['depa_nombre'].replace(distritos_especiales_departamentos)

In [166]:
df_ips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11466 entries, 0 to 11465
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   depa_nombre          11466 non-null  object
 1   muni_nombre          11466 non-null  object
 2   codigo_habilitacion  11466 non-null  int64
 3   nivel                1002 non-null   float64
 4   naju_nombre          11466 non-null  object
 5   clase_persona        11466 non-null  object
 6   Departamento         11466 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 627.2+ KB

In [167]:
df_ips.head()

,depa_nombre,muni_nombre,codigo_habilitacion,nivel,naju_nombre,clase_persona,Departamento
0,Amazonas,LETICIA,9100100019,2.0,Pública,JURIDICO,Amazonas
1,Amazonas,LETICIA,9100100185,NaN,Privada,JURIDICO,Amazonas
2,Amazonas,LETICIA,9100100069,NaN,Privada,JURIDICO,Amazonas
3,Amazonas,LETICIA,9100100158,NaN,Privada,JURIDICO,Amazonas
4,Amazonas,LETICIA,9100100144,NaN,Privada,JURIDICO,Amazonas

# IPS Públicas

In [168]:
df_ips_publica = df_ips[df_ips['naju_nombre'] == 'Pública']

In [169]:
df_ips_publica

,depa_nombre,muni_nombre,codigo_habilitacion,nivel,naju_nombre,clase_persona,Departamento
0,Amazonas,LETICIA,9100100019,2.0,Pública,JURIDICO,Amazonas
6,Amazonas,LETICIA,9100100168,1.0,Pública,JURIDICO,Amazonas
14,Antioquia,ABEJORRAL,500204360,1.0,Pública,JURIDICO,Antioquia
15,Antioquia,ALEJANDRÍA,502105098,1.0,Pública,JURIDICO,Antioquia
16,Antioquia,AMAGÁ,503004374,1.0,Pública,JURIDICO,Antioquia
...,...,...,...,...,...,...,...
11447,Valle del cauca,YUMBO,7689204073,1.0,Pública,JURIDICO,Valle del cauca
11453,Valle del cauca,ZARZAL,7689504656,2.0,Pública,JURIDICO,Valle del cauca
11455,Vaupés,MITÚ,9700100013,1.0,Pública,JURIDICO,Vaupés
11456,Vaupés,MITÚ,9700100001,2.0,Pública,JURIDICO,Vaupés
11463,Vichada,PUERTO CARREÑO,9900100006,2.0,Pública,JURIDICO,Vichada

In [170]:
df_reps_publica = df_reps[df_reps['NaturalezaJuridica'] == 'Pública']

In [171]:
df_reps_publica

,DepartamentoSedeDesc,MunicipioPrestadorDesc,MunicipioSede,MunicipioSedeDesc,codigo_prestador,codigo_habilitacion_sede,NaturalezaJuridica
0,Amazonas,LETICIA,91263,EL ENCANTO,9100100019,912630001911,Pública
1,Amazonas,LETICIA,91405,LA CHORRERA,9100100019,914050001914,Pública
2,Amazonas,LETICIA,91407,LA PEDRERA,9100100019,914070001915,Pública
3,Amazonas,LETICIA,91430,LA VICTORIA,9100100019,914300001916,Pública
5,Amazonas,LETICIA,91001,LETICIA,9100100019,910010001901,Pública
...,...,...,...,...,...,...,...
76359,Vaupés,MITÚ,97889,YAVARATÉ,9700100001,978890000166,Pública
76360,Vichada,PUERTO CARREÑO,99773,CUMARIBO,9900100006,997730000607,Pública
76365,Vichada,PUERTO CARREÑO,99524,LA PRIMAVERA,9900100006,995240000608,Pública
76370,Vichada,PUERTO CARREÑO,99001,PUERTO CARREÑO,9900100006,990010000601,Pública
76392,Vichada,PUERTO CARREÑO,99624,SANTA ROSALÍA,9900100006,996240000609,Pública

In [172]:
set1 = set(df_ips_publica['codigo_habilitacion'].unique())
len(set1)

1002

In [173]:
set2 = set(df_reps_publica['codigo_prestador'].unique())
len(set2)

999

In [174]:
len(set.intersection(set1, set2))

996

# Merge

In [176]:
df_reps_merge = pd.merge(df_reps_publica, df_ips_publica, how='inner', left_on='codigo_prestador', right_on='codigo_habilitacion')

In [177]:
df_reps_merge

,DepartamentoSedeDesc,MunicipioPrestadorDesc,MunicipioSede,MunicipioSedeDesc,codigo_prestador,codigo_habilitacion_sede,NaturalezaJuridica,depa_nombre,muni_nombre,codigo_habilitacion,nivel,naju_nombre,clase_persona,Departamento
0,Amazonas,LETICIA,91263,EL ENCANTO,9100100019,912630001911,Pública,Amazonas,LETICIA,9100100019,2.0,Pública,JURIDICO,Amazonas
1,Amazonas,LETICIA,91405,LA CHORRERA,9100100019,914050001914,Pública,Amazonas,LETICIA,9100100019,2.0,Pública,JURIDICO,Amazonas
2,Amazonas,LETICIA,91407,LA PEDRERA,9100100019,914070001915,Pública,Amazonas,LETICIA,9100100019,2.0,Pública,JURIDICO,Amazonas
3,Amazonas,LETICIA,91430,LA VICTORIA,9100100019,914300001916,Pública,Amazonas,LETICIA,9100100019,2.0,Pública,JURIDICO,Amazonas
4,Amazonas,LETICIA,91001,LETICIA,9100100019,910010001901,Pública,Amazonas,LETICIA,9100100019,2.0,Pública,JURIDICO,Amazonas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3608,Vaupés,MITÚ,97889,YAVARATÉ,9700100001,978890000166,Pública,Vaupés,MITÚ,9700100001,2.0,Pública,JURIDICO,Vaupés
3609,Vichada,PUERTO CARREÑO,99773,CUMARIBO,9900100006,997730000607,Pública,Vichada,PUERTO CARREÑO,9900100006,2.0,Pública,JURIDICO,Vichada
3610,Vichada,PUERTO CARREÑO,99524,LA PRIMAVERA,9900100006,995240000608,Pública,Vichada,PUERTO CARREÑO,9900100006,2.0,Pública,JURIDICO,Vichada
3611,Vichada,PUERTO CARREÑO,99001,PUERTO CARREÑO,9900100006,990010000601,Pública,Vichada,PUERTO CARREÑO,9900100006,2.0,Pública,JURIDICO,Vichada
3612,Vichada,PUERTO CARREÑO,99624,SANTA ROSALÍA,9900100006,996240000609,Pública,Vichada,PUERTO CARREÑO,9900100006,2.0,Pública,JURIDICO,Vichada

In [178]:
# Nulos sin nivel
df_reps_merge[df_reps_merge.isna().any(axis=1)].info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 1256 to 3252
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DepartamentoSedeDesc      11 non-null     object
 1   MunicipioPrestadorDesc    11 non-null     object
 2   MunicipioSede             11 non-null     int64
 3   MunicipioSedeDesc         11 non-null     object
 4   codigo_prestador          11 non-null     int64
 5   codigo_habilitacion_sede  11 non-null     int64
 6   NaturalezaJuridica        11 non-null     object
 7   depa_nombre               11 non-null     object
 8   muni_nombre               11 non-null     object
 9   codigo_habilitacion       11 non-null     int64
 10  nivel                     0 non-null      float64
 11  naju_nombre               11 non-null     object
 12  clase_persona             11 non-null     object
 13  Departamento              11 non-null     object
dtypes: float64(1), int64(4), object(9)
memory usage: 1.3+ KB

In [179]:
df_reps_merge.dropna(inplace=True)
df_reps_merge['nivel'] = df_reps_merge['nivel'].astype('int64')

In [180]:
df_reps_merge

,DepartamentoSedeDesc,MunicipioPrestadorDesc,MunicipioSede,MunicipioSedeDesc,codigo_prestador,codigo_habilitacion_sede,NaturalezaJuridica,depa_nombre,muni_nombre,codigo_habilitacion,nivel,naju_nombre,clase_persona,Departamento
0,Amazonas,LETICIA,91263,EL ENCANTO,9100100019,912630001911,Pública,Amazonas,LETICIA,9100100019,2,Pública,JURIDICO,Amazonas
1,Amazonas,LETICIA,91405,LA CHORRERA,9100100019,914050001914,Pública,Amazonas,LETICIA,9100100019,2,Pública,JURIDICO,Amazonas
2,Amazonas,LETICIA,91407,LA PEDRERA,9100100019,914070001915,Pública,Amazonas,LETICIA,9100100019,2,Pública,JURIDICO,Amazonas
3,Amazonas,LETICIA,91430,LA VICTORIA,9100100019,914300001916,Pública,Amazonas,LETICIA,9100100019,2,Pública,JURIDICO,Amazonas
4,Amazonas,LETICIA,91001,LETICIA,9100100019,910010001901,Pública,Amazonas,LETICIA,9100100019,2,Pública,JURIDICO,Amazonas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3608,Vaupés,MITÚ,97889,YAVARATÉ,9700100001,978890000166,Pública,Vaupés,MITÚ,9700100001,2,Pública,JURIDICO,Vaupés
3609,Vichada,PUERTO CARREÑO,99773,CUMARIBO,9900100006,997730000607,Pública,Vichada,PUERTO CARREÑO,9900100006,2,Pública,JURIDICO,Vichada
3610,Vichada,PUERTO CARREÑO,99524,LA PRIMAVERA,9900100006,995240000608,Pública,Vichada,PUERTO CARREÑO,9900100006,2,Pública,JURIDICO,Vichada
3611,Vichada,PUERTO CARREÑO,99001,PUERTO CARREÑO,9900100006,990010000601,Pública,Vichada,PUERTO CARREÑO,9900100006,2,Pública,JURIDICO,Vichada
3612,Vichada,PUERTO CARREÑO,99624,SANTA ROSALÍA,9900100006,996240000609,Pública,Vichada,PUERTO CARREÑO,9900100006,2,Pública,JURIDICO,Vichada

In [181]:
df_reps_merge['nivel'].unique()

array([2, 1, 3], dtype=int64)